<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<style>
    @font-face {
        font-family: 'Trebuchet MS';
        font-style: normal;
        font-weight: normal;
        src: local('Trebuchet MS'), url('/font-family/trebuc.woff') format('woff');
    }

    body {
        font-family: 'Trebuchet MS';
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .body-div {
        background-color: rgb(245, 245, 245);
        border-spacing: 0;
        margin-top: 20px;
        padding: 70px 0 50px 0;
        width: 1200px;
    }

    table,
    tr,
    th,
    td {
        border-spacing: 0;
        border: none;
        padding: 0;
        margin: 0;
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    #login-text p {
        padding-bottom: 30px;
    }

    #thead-img {
        height: 100px !important;
    }

    @media screen and (max-width: 767px) {
        table {
            width: 80% !important;
        }

        h2 {
            font-size: 38px !important;
        }

        h3 {
            font-size: 24px !important;
        }

        #register-text td {
            padding: 20px 100px !important;
        }

        .header-logo img {
            width: 100% !important;
        }

        #header-logo img {
            width: 100px !important;
        }
    }

    @media screen and (max-width: 575px) {
        table {
            width: 80% !important;
        }

        h2 {
            font-size: 38px !important;
        }

        h3 {
            font-size: 24px;
        }

        #register-text td {
            padding: 20px 50px !important;
        }

        #header-logo img {
            width: 100px !important;
        }
    }

    @media screen and (max-width: 425px) {
        table {
            width: 80% !important;
        }

        h2 {
            font-size: 38px !important;
        }

        h3 {
            font-size: 18px;
        }

        #register-text td {
            padding: 20px 30px !important;
        }

        #header-logo img {
            width: 100px !important;
        }
    }

    @media screen and (max-width: 375px) {
        table {
            width: 80% !important;
        }

        h2 {
            font-size: 38px !important;
        }

        h3 {
            font-size: 24px;
        }
    }
</style>

<body>
    <div class="body-div">
        <table style="background-color: lightgray; width: 650px; margin: 0 auto;">
            <thead id="thead-img"
                style="text-align: center; padding: 10px 0; height: 200px; background-image: linear-gradient(135.46deg,#D11450,#DF293A)">
                <tr id="header-logo">
                    <th>
                        <!-- <h2 style="font-size: 44px; color: white; font-weight: bolder;">OYO</h2> -->
                        <img src="check-mark (1).png" alt="">
                    </th>
                </tr>
            </thead>
            <tbody style="background-color: white; margin: 0 auto;">
                <tr id="register-text">
                    <td style="padding: 20px 100px 20px 100px;">
                        <h3 style="text-align: center; font-size: 38px;">Thank You For Your Registeration
                        </h3>
                        <!-- <p style="color: #777777; text-align: center;">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Aliquam,
                            facere eos esse nobis ut repellat. Maiores unde omnis iure neque voluptates illum dolorum at
                            blanditiis. Nesciunt ab corporis earum porro similique saepe nisi quasi est? Dignissimos
                            veritatis ab dolor ipsum.</p> -->
                    </td>
                </tr>
                <tr id="login-text">
                    <td style="padding-left: 40px; padding-right: 40px;">
                        <p style="text-align: center;">or <a href="#"
                                style="text-decoration: none; font-weight: bold; color:#D11450; text-align: center;">log
                                in </a>to your account</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>